<div>
    <h2 class="subtitle is-5">{{title}}</h2>
    <div class="field is-grouped">
        <div class="control is-expanded" :class="{'is-loading': isInputLoading}">
            <input class="input is-hovered" type="text" placeholder="Nueva variable..." v-model="varValue" @keypress.enter="addPath()">
        </div>
        <div class="control">
            <ti-btn-inverse icon="ti-check" :size="30" color="#22c65b" @click.native="addPath()"></ti-btn-inverse>
            <open-dialog @selected-folder="selectedFolderByAdding"></open-dialog>
        </div>
    </div>
    <div class="card">
        <transition-group name="company" class="div">
        <div class="company" v-for="(v, index) in Path" :key="index" @mouseover="showBtnsIndex=index" @mouseleave="showBtnsIndex=-1">
            <div v-if="editing.id !== index">
                <div style="width: 100%;height: 100%;position: relative;top: 0;left: 0;background-color: #00a8c6"></div>
                <span>{{v}}</span>
                <div style="float: right" v-show="thisRowIsBusy===-1 && showBtnsIndex==index && !editing.blocked">
                    <ti-btn icon="ti-trash" color="red" @click.native="delPath(index)"></ti-btn>
                    <ti-btn icon="ti-pencil" @click.native="showEditor(index, v)"></ti-btn>
                </div>
                <green-loader v-if="thisRowIsBusy==index"></green-loader>
            </div>
            <div v-else>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <input class="input is-small" type="text" placeholder="Nuevo valor..." v-model="editing.value" @keypress.enter="editPath(v, index)" @focus="$event.target.select()">
                    </div>
                    <div class="control">
                            <ti-btn-inverse icon="ti-check" :size="20" color="#22c65b" @click.native="editPath(v, index)"></ti-btn-inverse>
                            <open-dialog :size="14" @selected-folder="selectedFolderByEditing"></open-dialog>
                            <ti-btn icon="ti-close" :size="14" @click.native="cancelEdit"></ti-btn>

                    </div>
                </div>


            </div>
            <div style="clear: both"></div>
        </div>
        </transition-group>
    </div>
</div>